apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
patchesStrategicMerge:
- deployment.yaml
- service.yaml
commonLabels:
  project: instavote
  env: staging
commonAnnotations:
  supported-by: "Vinayak"
