apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
patchesStrategicMerge:
- deployment.yaml
- service.yaml
images:
- name: schoolofdevops/vote
  newName: vinycoolguy/vote
  newTag: main-ab1fcaff-1665733398 # {"$imagepolicy": "flux-system:vote:tag"}
configMapGenerator:
- name: vote-options
  envs:
  - options.env
commonLabels:
  project: instavote
  env: staging
commonAnnotations:
  supported-by: "Vinayak"
